<div class="jumbotron center">
    <div class="jumbotext">
    <h1>Welcome to myRecipes App</h1>
     <p>A place to share your favourite recipes</p><br/>
    <%= link_to "Sign up now", register_path, class: "btn btn-large btn-primary" %>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">Browse and view all recipes as a guest and Sign up later.  You can also filter by styles or ingredients.</h2>
        <p> <%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small" %> </p>
    </div>
    
    <div class="col-lg-6">
        <h3 class="midrow">
            Log Into myRecipes as a Chef
        </h3>
        <h2 class="left">Log in to add new recipes, edit your own recipes, vote on recipies and more!</h2>
        <% if logged_in? %>
            <p class="left" style="background: #f8f4e3;padding:10px;">You are already logged in as: <%= current_user.chefname %> </p>
        <% else %>
            <p> <%= link_to "Log Into myRecipes", login_path, class: "btn btn-warning btn-small" %> </p>
        <% end %>
    </div>

</div>