$navbar-default-bg: rgba(49,35,18,.9);
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$jumbotron-bg: rgba(126, 171, 103,.6);
$btn-success-bg: #f8f4e3;
$btn-success-color: $navbar-default-bg;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: $navbar-default-bg;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover{
   
    text-decoration: none;
}

body{
    padding-top: 90px;
}

.topmen{
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

.center{
    text-align: center;
    
}

h1, h2, h3, h4{
   line-height: 1;
}

h1{
    font-size: 3em;
   letter-spacing: -3px;
    margin-bottom: 30px;
    text-align: center;
}
h2{
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
   
}
 .jumbotext{
        color: darken($light-orange,20%);
    }
    

.left{
    text-align: left;
    letter-spacing: .5px;
}

.footer{
    margin-top: 25px;
    border-top: 1px solid #ddd;
    color: #777;
}

.avimg
{
    border-radius: 20px;
   margin: 10px;
}

.imgspace{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

small{
    font-size: 11px;
}

.well{
    background: rgba(126, 171, 103,.15);
}
