<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% flash.each do |msgtype, msg| %>
        <div class="alert alert-<%= msgtype %>">
                <%= msg %>
                <a class="close" data-dismiss="alert">x</a>
        </div>
        <% end %>
    </div>
</div>