<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "myRecipes", "#", class: "btn btn-lg btn-success", id: "logo" %>
      <div class="nav-item">
        <%= link_to "Link 1", "#", class: "topmen btn btn-warning" %>
      </div>
      <div class="nav-item">
        <%= link_to "Link 2", "#", class: "topmen btn btn-warning" %>
      </div>
      <div class="nav-item">
        <%= link_to "Link 3", "#", class: "topmen btn btn-warning" %>
      </div>
    </div>
  </header>